#process{
    height: 600px;
    width: 100%;
    background: #26313c;;
    .container {
        width: 100%;
        height: 100%;
        .row {
            .col-lg-12{
                width: 100%;
                height: 100%;
            }
            .title{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-top: 140px;
                align-items: center;
                color: white;
                span{
                    font-size: 19px;
                    margin-bottom: 10px;
                }
                h2{
                    font-size: 48px;
                    letter-spacing: 4px;
                }
            }
            ul{
                position: relative;
                max-width: 1290px;
                display: flex;
                padding:50px;
                // margin-left: 40px;
                gap: 40px;
                li{
                    list-style: none;
                    color: white;
                    text-align: center;
                    span{
                        padding: 30px;
                        line-height: 120px;
                        border: 1px solid #fff;
                        font-size: 28px;
                        color: #fff;
                        border-radius:50%;
                    }
                    // &:first-child::before{
                    //     opacity: 0;
                    //     visibility: hidden;
                    // }
                    // &::before{
                    //     content: "";
                    //     position: absolute;
                    //     left: 0;
                    //     height: 1px;
                    //     top: 115px;
                    //     background: rgba(255, 255, 255, .5);
                    //     width: 30%;
                    //     z-index: 1;
                    //     margin: 0;
                    // }
                    // &::after{
                    //     content: "";
                    //     position: absolute;
                    //     right: 0;
                    //     height: 1px;
                    //     top: 115px;
                    //     background: rgba(255, 255, 255, .5);
                    //     width: 30%;
                    //     z-index: 1;
                    //     margin: 0;
                    // }
                }
            }
        }
    }
}